.App{
    padding: 0.5rem 3.5rem;
    padding-bottom: 0px;
    overflow: hidden;
}
.button{
    border-radius: 34px;
    font-weight: bold;
    border: none;
    padding: 11px 26px 11px 26px;
}
.button:hover{
    background: white;
    cursor: pointer;
    color: orange;
    border: 2px solid orange;
}

@media screen and (max-width:600px) {
    .App{
        padding : 0.5rem 1rem; 
        padding-bottom: 0px;
    }
     
}